.Homepage-Hero-warpper-dark {
  background: #121212;
}

/* .Homepage-Hero-warpper-dark-light {
  background: transparent
} */

#line2 {
  filter: invert(40%) sepia(15%) saturate(2209%) hue-rotate(187deg) brightness(98%) contrast(85%);
}

.hero-main-heading {
  margin-bottom: 24px;
}

.hero-main-heading > h4 {
  text-align: center;
  font-family: Satoshi;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.16px;

  margin-bottom: 0px;
}

.hero-main-heading-dark {
  background: radial-gradient(
    112.72% 109.28% at 64.84% 30.41%,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-main-heading-light {
  background: var(--G1, linear-gradient(93deg, #252e54 0.38%, #4e6abf 60.59%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-main-desc {
  margin-bottom: 47px;
}

.hero-main-desc > p {
  text-align: center;
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-bottom: 0px;
}

.hero-section-btn {
  max-width: 413px;
  gap: 8px;
  flex: 1 0 0;
}

.hero-section-main-wrapper {
  max-width: 1041px;
  margin-top: 255px;
  position: relative;
}

.hero-lines-wrapper {
  position: absolute;
  top: 50%;
  left: -29%;
}

.hero-lines-wrapper-second {
  position: absolute;
  top: 40%;
  left: -40%;
}

.hero-invset-btn {
  width: 100%;
  color: var(--Primary-0, #fff);
  text-align: center;
  height: 63px;
  padding: 13px 24px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  border-radius: 8px;
  border: 1px solid var(--Primary-0, #fff);
  background: transparent;
}

.hero-invset-btn-light {
  width: 100%;
  color: var(--Primary-0, #fff);
  text-align: center;
  height: 63px;
  padding: 13px 24px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  border-radius: 8px;
  background: linear-gradient(180deg, #5573d1 0%, #1038b2 100%);
  border: none;
}

.expert-team-hero-section {
  margin-top: 230px;
  padding: 39px 0px;
  overflow: hidden !important;
}

@media screen and (max-width: 992px) {
  .hero-lines-wrapper {
    position: absolute;
    top: 50%;
    left: -40%;
  }

  .hero-lines-wrapper-second {
    position: absolute;
    top: 61%;
    left: -70%;
  }
}

@media screen and (max-width: 768px) {
  .hero-section-main-wrapper {
    margin-top: 127px;
  }
  .expert-team-hero-section {
    margin-top: 145px;
  }
  .hero-lines-wrapper {
    display: none;
  }

  .hero-lines-wrapper-second {
    display: none;
  }
}
