.light-theme-new {
  height: 100%;
  background: radial-gradient(
      840px 960px at 50% 0%,
      rgba(78, 106, 191, 0.15) 9.29%,
      rgba(78, 106, 191, 0) 100%
    ),
    rgb(255, 255, 255)
      radial-gradient(
        520px 520px at 50% 80%,
        rgba(78, 106, 191, 0.15) 9.29%,
        rgba(78, 106, 191, 0) 100%
      );

  overflow-x: clip;
  min-height: 100%;
}


.light-mode-for-the-page{
    background: linear-gradient(180deg, #ECF1FF 0%, #FFF 25% ,#ECF1FF 50% , #FFF 75%, #ECF1FF 100%);
}