.footer-main-wrapper {
    width: 100%;
    padding: 60px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Spread items evenly */
  }


  .light-theme-footer{
    background-color: white;
  }
  
.footer-b-1 > h3 > span {
  color: var(--Primary-500, #5573d1);

  /* Bold/Type@72 */
  font-family: Satoshi;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.16px;
}

.footer-b-1 > h3{
  color: #fff;
  text-align: left;
  font-family: Satoshi;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.16px;
  margin-bottom: 8px;
}
  
  .footer-heading > h1 {
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 22px */
    letter-spacing: -0.4px;
    margin-bottom: 32px;
  }
  
  .footer-desc > h2 {  
    text-align: justify;
    /* Medium/Type@16 */
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
    margin-bottom: 24px;
  }
  .footer-desc > a {  
    text-align: justify;
    /* Medium/Type@16 */
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
    margin-bottom: 24px;
  }
  
  .footer-b-1,
  .footer-b-2,
  .footer-b-3,
  .footer-b-4,
  .footer-b-5 {
    width: 20%;
  }
  
  @media screen and (max-width: 992px) {
    .footer-b-1{
      width: 100%;
      margin-bottom: 56px;
    }
    .footer-b-2,
    .footer-b-3,
    .footer-b-4,
    .footer-b-5 {
      width: 50%;
    }
  }
  