/* App.css */
.app {
  transition: background-color 0.3s, color 0.3s;
}



.light-theme{
  background: 
  radial-gradient(840px 960px at max(0px, -512px + 50vw) 0%, rgba(78, 106, 191, 0.15) 9.29%, rgba(78, 106, 191, 0) 100%), rgb(255, 255, 255)
  radial-gradient(520px 520px at calc(max(0px, -512px + 50vw) + min(100vw, 1024px)) 80vh, rgba(78, 106, 191, 0.15) 9.29%, rgba(78, 106, 191, 0) 100%);
overflow-x: clip;
  color: #333333;
}

.dark-theme {
  background: #0D0D0D;
  color: #ffffff;
}
